mixin benefits-two
  section.benefits-two(class!=attributes.class)
    div.benefits-two__background
    div.benefits-two__background-fill
    div.benefits-two__content
      p.benefits-two__slogan.font_roboto A simple way to #[span.benefits-two__slogan_green plan your diet!]
      p.benefits-two__info-text.font_roboto Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      img.benefits-two__app-preview-img(
        alt="Application preview group", 
        src="/img/app_preview_group.png")
