mixin top-block
  section.top-block(class!=attributes.class)
    div.top-block__background
    div.top-block__content
      div
        img.top-block__app-img(
          alt="Application icon", 
          src="/img/app_icon.png")
        p.top-block__slogan.font_roboto.font_white Helps you eat #[span.top-block__slogan_bold better.]
        p.top-block__info-text.font_roboto.font_white FitApp is a free calorie counting and diet app PSD template which includes high quality 9 screens. This template can be very helpful if you're planning to build food tracking application.
        a.top-block__appstore-download(href="#") App Store
        a.top-block__google-play-download(href="#") Google Play
      img.top-block__app-preview-img(
      alt="Application preview big", 
      src="/img/app_preview_big.png")

