mixin benefits-one
  section.benefits-one(class!=attributes.class)
    div.benefits-one__content
      img.benefits-one__app-preview-img(
        alt="Application preview 2", 
        src="/img/app_preview_big2.png")
      div
        p.benefits-one__slogan.font_roboto Best calorie #[span.benefits-one__slogan_green counter app!]
        p.benefits-one__info-text.font_roboto Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
