mixin benefits-three
  section.benefits-three(class!=attributes.class)
    div.benefits-three__content
      div
        p.benefits-three__slogan.font_roboto Manage your #[span.benefits-three__slogan_green meal time]
        p.benefits-three__info-text.font_roboto Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      img.benefits-three__app-preview-img(
        alt="Application preview screen",
        src="/img/app_preview_screen.png")
