//- based on: https://github.com/h5bp/html5-boilerplate
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible',content='ie=edge')
    title FitApp
    meta(name='description',content='')
    meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='manifest',href='site.webmanifest')
    link(rel='apple-touch-icon',href='icon.png')
    link(rel='stylesheet',href='css/index.css')
  body.page
    <!--[if lte IE 9]>
    p You are using an outdated browser. Please upgrade your browser to improve your experience and security.
    <![endif]-->
    +navigation
    +top-block
    +benefits-one
    +benefits-two
    +benefits-three
    +app-download
    script(src='js/index.js')
