mixin app-download
  section.app-download(class!=attributes.class)
    div.app-download__background
    div.app-download__content
      p.app-download__slogan.font_roboto.font_white Download, customize & #[span.app-download__slogan_bold enjoy!]
      p.app-download__info-text.font_roboto.font_white Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      button.app-download__button.font_roboto Get App
